.form-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.input-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.input-row > input,
.input-row > textarea {
    flex: 1;
    margin-right: 10px;
}

.input-row > textarea {
    resize: vertical;
} 

button {
    width: 100%;
    padding: 10px;
    background-color: rgba(59, 59, 59);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: darkgray;
}