.post {
    border: 1px solid rgb(0, 119, 255);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.post h2 {
    color: rgb(119, 119, 197);
}

.post p {
    font-size: 14px;
}

.post .post-date {
    font-size: 12px;
    color: lightgray;
    font-style: italic;
    margin-top: 10px;
}

h1 {
    color:rgb(165, 165, 209)
}